<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div style="margin-bottom: 25px"class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :name,:placeholder=>"Name",:class=>"form-control" %></br>
          </div>
        </div>
      </div>
     

<div class="form-group">
        <label class="col-md-4 control-label">Document</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.file_field :document,:class=>"form-control" %></br>
          </div>
        </div>
      </div>

 

   <div class="form-group">
        <label class="col-md-4 control-label">select category</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
  <%= f.select(:category_id, Category.all.collect {|u| [u.name, u.id]},:prompt => 'Select Category') %>
          </div>
        </div>
      </div>


       <div class="form-group">
        <label class="col-md-4 control-label">select category</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
       <%=f.select "status", options_for_select([ "Avalable", "pending" ,"complete"], "complete"),:prompt => 'Select Status'=%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">ractive</label>
        <div class="col-md-6  inputGroupContainer">     
     <%= f.label :ractive %><br/>
     <%= f.label :ractive, "Yes", :value => "true"  %>
     <%= f.radio_button :ractive, true ,:checked=>true%>
     <%= f.label :ractive, "No", :value => "false" %>
    <%= f.radio_button :ractive, false, :checked => true %> 
       </div>
        </div>
    
 
          <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-6  inputGroupContainer">
          
         <%= f.submit :class=>"btn btn-success" %>
          </div>
        </div>
     <% end %>
